@model WorkPlaceViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">Work Places Form</h2>
            </div>
        </div>

        <!-- Breadcrumb-->
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            </ul>
        </div>
        <section class="no-padding-top">
            <div class="container-fluid">
                <div class="row">
                    <!-- Basic Form-->
                    <div class="col-lg-6">
                        <div class="block">
                            <div class="title"><strong class="d-block">Work Places List</strong><span class="d-block">All data about employee`s work place</span></div>
                            <div class="block-body">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label>Select Company</label>
                                    <select style="margin-bottom: 2rem;" class="form-control" id="company" asp-for="CompanyToDepartment.CompanyId" asp-items="@(new SelectList(ViewBag.Company, "Id" , "Name"))">
                                        <option value="">Select Company</option>
                                    </select>
                                    <label>Select Branch</label>
                                    <select style="margin-bottom: 2rem;" class="form-control BrachId" asp-for="BranchId">
                                        <option value="">Select Branch</option>
                                    </select>
                                    <label>Select Department</label>
                                    <select class="form-control CompanyToDepartment" style="margin-bottom: 2rem;" asp-for="CompanyToDepartment.DepartmentId">
                                        <option value="">Select Department</option>
                                    </select>
                                    <label>Select Position</label>
                                    <select class="form-control" asp-for="PositionId">
                                        <option value="">Select Position</option>
                                    </select>

                                    <div class="form-group" style="margin-top:2rem">
                                        <label asp-for="EntryDate" class="control-label"></label>
                                        <input asp-for="EntryDate" class="form-control" />
                                        <span asp-validation-for="EntryDate" class="text-danger"></span>
                                    </div>
                                    <input type="hidden" asp-for="EmployeeId" value="@ViewBag.EmployeeId" />
                                    <div class="form-group">
                                        <label asp-for="Employee.Name" class="control-label"></label>
                                        <input asp-for="Employee.Name" class="form-control" value="@ViewBag.EmployeeName" readonly />
                                        <span asp-validation-for="Employee.Name" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" style="padding: 0.5rem 5rem; margin-top:2rem" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
